<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <script src="https://kit.fontawesome.com/22714a5d4b.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Courgette&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <!-- Promo Start -->
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="card" style="height: 30rem; border: none;">
                    <img class="card-img-top" src="/img/commercial.jpg" alt="Card image cap">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card" style="height: 30rem; border: none;">
                    <img class="card-img-top" src="/img/sloganpic.png" alt="Card image cap">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card" style="height: 30rem; border: none;">
                    <img class="card-img-top" src="/img/commercial.jpg" alt="Card image cap">
                </div>
            </div>
        </div>
    </div>
    <!-- Promo Finish -->

    <!-- About Us Start -->
    <div class="container my-5" id="aboutus">
        <div class="row justify-content-center">
            <h3 class="py-4 text-center title-main primary-color">About Us</h3>
        </div>
        <div class="row justify-content-center bg-light py-3" style="border-radius: 10px;">
            <div class="col-lg-6 col-md-12">
                <div class="row px-5 py-5">
                    <div class="col-lg-6">
                        <div class="card" style="border: none;">
                            <img class="card-img-top" src="/img/aboutus.jpg" alt="Card image cap">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="card" style="border: none;">
                            <img class="card-img-top" src="/img/aboutus.jpg" alt="Card image cap">
                        </div>
                    </div>
                </div>
                <div class="row mt-2 px-5 pb-5">
                    <div class="col-lg-6">
                        <div class="card" style="border: none;">
                            <img class="card-img-top" src="/img/aboutus.jpg" alt="Card image cap">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="card" style="border: none;">
                            <img class="card-img-top" src="/img/aboutus.jpg" alt="Card image cap">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 text-center" style="padding-top: 10%;">
                <h3 class="title-stylish second-color">Discover Our Pastries</h3>
                <p class="text-left pt-4 px-3 text-main">teLorem Ipsum is simply dummy text of the printing and
                    typesetting
                    industry.
                    Lorem
                    Ipsum has been the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                    and scrambled it to make a type specimen book. It has survived not only five centuries, but also the
                    leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s
                    with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
                    publishing software like Aldus PageMaker including versions of Lorem Ipsum.st</p>
                <button class="btn-main mt-2">Our Location</button>
            </div>
        </div>
    </div>
    <!-- About Finish -->

    <!-- Menu Start -->
    <div class="container" id="menu">
        <h3 class="text-center title-main mb-5">Menu</h3>
        <div class="row justify-content-center px-5 py-5 bg-light" style="border-radius: 10px;">
            <div class="row">
                <div class="col-lg-3">
                    <div class="card" style="border: 0.5px solid #ebebeb;">
                        <img class="card-img-top" src="/img/aboutus.jpg" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text text-main primary-color">
                                lahmajun
                                -------------- $1.75</p>
                            <p style="color: #646464; font-size: 13px;" class="card-text text-main primary-color">
                                Eggs /
                                Sausage /
                                Pizza / Peperoni</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card" style="border: 0.5px solid #ebebeb;">
                        <img class="card-img-top" src="/img/aboutus.jpg" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text text-main primary-color">lahmajun -------------- $1.75</p>
                            <p style="color: #646464; font-size: 13px;" class="card-text text-main primary-color">Eggs /
                                Sausage /
                                Pizza / Peperoni</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card" style="border: 0.5px solid #ebebeb;">
                        <img class="card-img-top" src="/img/aboutus.jpg" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text text-main primary-color">lahmajun -------------- $1.75</p>
                            <p style="color: #646464; font-size: 13px;" class="card-text text-main primary-color">Eggs /
                                Sausage /
                                Pizza / Peperoni</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card" style="border: 0.5px solid #ebebeb;">
                        <img class="card-img-top" src="/img/aboutus.jpg" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text text-main primary-color">lahmajun -------------- $1.75</p>
                            <p style="color: #646464; font-size: 13px;" class="card-text text-main primary-color">Eggs /
                                Sausage /
                                Pizza / Peperoni</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center mt-5">
                <div class="col-lg-3">
                    <div class="card" style="border: 0.5px solid #ebebeb;">
                        <img class="card-img-top" src="/img/aboutus.jpg" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text text-main primary-color">lahmajun -------------- $1.75</p>
                            <p style="color: #646464; font-size: 13px;" class="card-text text-main primary-color">Eggs /
                                Sausage /
                                Pizza / Peperoni</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card" style="border: 0.5px solid #ebebeb;">
                        <img class="card-img-top" src="/img/aboutus.jpg" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text text-main primary-color">lahmajun -------------- $1.75</p>
                            <p style="color: #646464; font-size: 13px;" class="card-text text-main primary-color">Eggs /
                                Sausage /
                                Pizza / Peperoni</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card" style="border: 0.5px solid #ebebeb;">
                        <img class="card-img-top" src="/img/aboutus.jpg" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text text-main primary-color">lahmajun -------------- $1.75</p>
                            <p style="color: #646464; font-size: 13px;" class="card-text text-main primary-color">Eggs /
                                Sausage /
                                Pizza / Peperoni</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card" style="border: 0.5px solid #ebebeb;">
                        <img class="card-img-top" src="/img/aboutus.jpg" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text text-main primary-color">lahmajun -------------- $1.75</p>
                            <p style="color: #646464; font-size: 13px;" class="card-text text-main primary-color">Eggs /
                                Sausage /
                                Pizza / Peperoni</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- Menu Finish -->

    <!-- Cakes -->
    <div class="container" id="cakes">
        <div class="row justify-content-center">
            <h3 class="py-5 text-center">Our Cakes</h3>
        </div>
        <div class="row justify-content-center px-5 py-5 bg-light" style="border-radius: 10px;">
            <div class="col-lg-12">
                <div class="services-section mt-4">

                    <div id="pixlee_container"></div>
                    <script
                        type="text/javascript">window.PixleeAsyncInit = function () { Pixlee.init({ apiKey: 'Nv_Djx0zieeDnzjPTmTH' }); Pixlee.addSimpleWidget({ widgetId: '25789' }); };</script>
                    <script src="//instafeed.assets.pxlecdn.com/assets/pixlee_widget_1_0_0.js"></script>
                </div>
            </div>

        </div>

    </div>
    <!-- Cakes Finish -->

    <!-- Contact Start -->
    <div class="container" id="contact">
        <div class="row justify-content-center">
            <h3 class="pt-5 text-center primary-color">Contact</h3>
        </div>
        <div class="row mb-4 mt-5">
            <div class="col-lg-6 py-3 text-center">
                <div class="mb-5">
                    <h2 class="primary-color mb-4">Location:</h2>
                    <p class="mb-2">400 Raleigh St</p>
                    <p class="mb-5">Glendale, CA 91205</p>
                    <h4 class="mb-5"><i class="fas fa-phone-volume pr-2"></i>818 - 247 - 6281</h4>
                    <hr>
                    <h2 class="primary-color mb-4">Hours:</h2>
                    <p class="mb-2">M-S: 7:45 AM - 7:30 PM</p>
                    <p class="mb-2">Sun: Closed</p>
                </div>
            </div>
            <div class="col-lg-6">
                <div style="width: 100%"><iframe width="100%" height="400"
                        src="https://maps.google.com/maps?width=100%&amp;height=600&amp;hl=en&amp;q=400%20Raleigh%20St%2C%20Glendale%2C%20CA%2091205+(Sams%20Bakery)&amp;ie=UTF8&amp;t=&amp;z=17&amp;iwloc=B&amp;output=embed"
                        frameborder="0" scrolling="no" marginheight="0" marginwidth="0"><a
                            href="https://www.maps.ie/coordinates.html">gps coordinates finder</a></iframe></div><br />
            </div>
        </div>
    </div>

    <hr>

    <ul class="nav justify-content-center mb-4" id="sm-links">
        <li class="nav-item">
            <a class="nav-link active" href="#"><i class="fab fa-facebook-f"></i></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#"><i class="fab fa-instagram-square"></i></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#"><i class="fab fa-twitter"></i></a>
        </li>
    </ul>
    <!-- Contact Finish -->

</body>

</html